<div class="ui feed">
  {{#each donationFeed as |donation|}}
    <div class="event">
      <div class="label">
        {{donation-image donation.imageIndex}}
      </div>
      <div class="content">
        <div class="date">
          {{time-status donation.createdAt}}
        </div>
        <div class="summary">
          {{donor donation 'data-position="top left" data-inverted=""'}} donated <a>${{donation.amount}}</a>.
        </div>
      </div>
    </div>
  {{/each}}
</div>
