.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted;
}

.body {
  padding: 1.25em 0em;
}

.container {
  width: 700px !important;
}

.ui.menu {
  background: none transparent;
  border-radius: 0px;
  box-shadow: none;
  border: none;
  margin: 1em -0.5em;
}

.ui.menu .item::before {
  content: none;
}

.ui.menu a.item:hover {
  color: #4078c0;
  background: transparent;
}

.ui.menu a.item svg.ui.image {
  fill: currentColor;
}

.mini.ui.version.button {
  font-size: 0.78571429rem !important;
}
