.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted; /* If you want dots under the hoverable text */
}

.body {
  padding: 8.75em 0em;
}

.container.root {
  width: 700px !important;
}

.logo {
  width: 5em !important;
}

.ui.menu {
  height: 5em;
}
