<div class="ui top fixed menu">
  <div class="item">
    <img class="logo" src="/images/donate.svg">
  </div>
  <a class="item">Ember.js</a>
  <a class="item">Ember.js Guides</a>
  <a class="item">Ember CLI</a>
</div>

<div class="ui container root">
  <div class="body">
    {{outlet}}
  </div>
</div>
