<div class="ui container">
  <div class="ui root menu">
    <a class="item" href="/">
      <img class="logo" src="/images/gift.svg">
    </a>
    <a class="item" target="_blank" href="http://emberjs.com/">Ember Home</a>
    <a class="item" target="_blank" href="https://guides.emberjs.com/v2.7.0/">Ember Guides</a>
    <a class="item" target="_blank" href="https://ember-cli.com/">Ember CLI</a>
    <a class="item" target="_blank" href="http://semantic-ui.com/">Semantic UI</a>
    <div class="right menu">
      <a class="item" target="_blank" href="https://github.com/hckhanh/donation-form">
        <button class="mini ui black version button">
          <i class="github icon"></i>
          {{model.tag}}
        </button>
      </a>
    </div>
  </div>
</div>

<div class="ui divider"></div>

<div class="ui container root">
  <div class="body">
    {{outlet}}
  </div>
</div>
