<div class="ui container">
  <div class="ui menu">
    <a class="item" href="/">
      <svg class="ui mini image" xmlns="http://www.w3.org/2000/svg" width="441" height="441" viewBox="0 0 441 441">
        <path d="M441 164.725c0-73.988-60.2-134.178-134.159-134.178-30.397 0-58.954 9.819-82.633 28.402l-3.708 2.912-3.711-2.929c-23.644-18.566-52.229-28.386-82.596-28.386C60.206 30.547 0 90.736 0 164.725c0 92.224 64.808 140.954 121.26 179.186 10.86-11.293 34.985-36.975 58.969-66.594 7.429 9.043 20.059 24.26 30.079 35.563-19.916 24.146-38.979 44.841-50.731 57.229 12.729 9.184 24.073 18.352 32.672 27.906a37.493 37.493 0 0 0 27.867 12.438h.119a37.583 37.583 0 0 0 27.908-12.569c8.541-9.599 20.043-18.854 33.001-28.166a1099.665 1099.665 0 0 1-9.704-10.504c-4.873-5.338-10.836-11.68-17.145-18.397l-.092-.106c-27.252-26.526-74.543-85.502-77.932-90.144-32.479-44.551-42.54-77.015-31.653-102.172 5.391-12.46 15.379-21.751 29.679-27.603 12.133-4.966 27.228-7.378 46.171-7.378 15.628 0 28.302 2.383 38.751 7.282 11.936 5.599 20.752 14.593 25.492 26.01 8.018 19.316 4.195 43.959-11.68 75.339-4.893 9.668-11.041 20.171-18.344 31.371-13.344-15.757-29.174-35.659-30.568-37.408 23.122-38.853 18.535-51.166 18.297-51.739-.843-2.037-7.389-5.065-21.948-5.065-25.006 0-32.999 5.464-33.822 7.376-.227.525-6.149 14.069 26.625 57.008 16.659 21.813 62.382 73.086 74.285 85.752 6.493 6.907 12.588 13.402 17.703 19.007 5.77 6.32 10.639 11.51 14.191 15.248C376.189 305.241 441 256.292 441 164.725z"/>
      </svg>
    </a>
    <a class="item" target="_blank" href="http://emberjs.com/">Ember Home</a>
    <a class="item" target="_blank" href="https://guides.emberjs.com/v2.7.0/">Ember Guides</a>
    <a class="item" target="_blank" href="https://ember-cli.com/">Ember CLI</a>
    <a class="item" target="_blank" href="http://semantic-ui.com/">Semantic UI</a>
    <div class="right menu">
      <a class="item" target="_blank" href="https://github.com/hckhanh/donation-form">
        <button class="mini ui black version button">
          <i class="github icon"></i>
          {{model.tag}}
        </button>
      </a>
    </div>
  </div>
</div>

<div class="ui divider"></div>

<div class="ui container">
  <div class="body">
    {{outlet}}
  </div>
</div>

<div class="ui section divider"></div>

<div class="ui center aligned container">
  <div>
    Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
</div>
