<h1 class="ui header">
  Donation Form
  <div class="sub header">Fill in the form and make the donation</div>
</h1>

{{#if session.isAuthenticated}}
  {{donation-form uid=session.currentUser.uid donationSubmit=(action "handleDonationSubmit")}}

  <div class="ui section divider"></div>

  {{donation-feed}}
{{/if}}
